services:
  backend:
    build:
      context: ./Backend/api_greenroots
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./Backend/api_greenroots:/app
      - /app/node_modules
    env_file:
      - docker.env

  frontend:
    build:
      context: ./Frontend/nextjs_greenroots
      dockerfile: Dockerfile
    ports:
      - "5556:5556"
    volumes:
      - ./Frontend/nextjs_greenroots:/app
      - /app/node_modules
    env_file:
      - docker.env

  postgres:
    image: postgres:14
    container_name: greenroots-postgres
    ports:
      - "5432:5432"
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./Database/init_db.sql:/docker-entrypoint-initdb.d/init_db.sql
    env_file:
      - docker.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U greenroots"]
      interval: 5s
      timeout: 5s
      retries: 5

  data-loader:
    build:
      context: ./Database
      dockerfile: Dockerfile.loader
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - docker.env

  adminer:
    image: adminer
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"

volumes:
  postgres_data:
